header {
    background-color: black;
    height: 80px;
}

img {
    height:80px;
}
button{
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

.btn { 
    float: right;
    margin-top: 2.5%;
    margin-right: 2.5%;
}

.banner{ 
    height: 25%;
}

#imgbanner{ 
    height: 600px;
    width: 100%;
}

.acerca_de{ 
    background-color: antiquewhite;
    height: 600px;
    width: auto;
}

#imgperfil{ 
    border-radius: 50%;
    height: 300px;
    margin-left: 30PX;
    margin-top: -120px;
    height: 200PX;
    width: auto;
}
.Exp_laboral{ 
    height: 600px;
    background-color: aqua;
    width: auto;
  }
.Educacion{ 
    background-color: aquamarine;
    height: 600px;
    width: auto;
}
.Hard_softskills { 
background-color: yellow;
height: 600px;
width: auto;
}
.Proyecto{
    background-color: greenyellow;
    height: 600px;
    width: auto;
}
.Pie_de_pagina{
    background-color: blanchedalmond;
    height: 200px;
    width: auto;
}

